<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>    
    <title>Meals</title>
    
    <link rel="stylesheet" href="/css/meals.css">
    <link rel="stylesheet" href="/css/headers.css">
</head>
<body>
    <div class="container">
        <div class="hero">
            <h1>Meals</h1>
        </div>
    </div>
<div class="search">
    <form action="/search" method="get" class="search-bar">
        <input type="search" name="q" placeholder="Search meals..." pattern=".*\S.*">
        <button type="submit" class="search-button"><span>Search</span></button>
    </form>
    <div class="or-section">
        <h2>OR</h2>
    </div>
    <form class="filter-form" action="/filter-search" method="get">
        <div class="form-group">
            <label for="ingredient">Include</label>
            <select id="ingredient" name="ingredient" <%= !isLoggedIn ? 'disabled' : '' %>>
              <option value="beef">Beef</option>
              <option value="chicken">Chicken</option>
              <option value="lamb">Lamb</option>
              <option value="none">Vegeterian</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exclude">Exclude</label>
            <select id="exclude" name="exclude" <%= !isLoggedIn ? 'disabled' : '' %>>
              <option value="beef">Beef</option>
              <option value="chicken">Chicken</option>
              <option value="lamb">Lamb</option>
              <option value="none">None</option>
            </select>
        </div>
        <button type="submit" class="search-button2" <%= !isLoggedIn ? 'disabled' : '' %>>Filter</button>
    </form>
    <div class="alert">
        <% if (isLoggedIn) { %>
         
        <% } else { %>
          Login to use these filters
        <% } %>
      </div>
    </div>
    <div class="container box">
    
        <ul>
            <% if (isFilterSearch) { %>
                <!-- display filter search results -->
                <% meals.forEach((meal, index) => { %>
                    <li>
                        <h2><%= meal.name %></h2>
                        <p class="description"> <br><%= meal.description %><br></p>
                        <button data-index="<%- index %>" class="toggle-ingredients-btn">Ingredients</button>
                        <button data-index="<%- index %>" class="toggle-steps-btn">Steps</button>
                        <% if (isLoggedIn) { %>
                            <button data-index="<%- index %>" class="update-button">Update</button>
                            <button data-index="<%- index %>" class="delete-button">Delete</button>
                        <% } %>
                        <div class="ingredients" id="ingredients-<%= index %>" style="display: none;">
                            <p>Ingredients</p>
                            <ul>
                              <% meal.ingredients.split(',').slice(1, -1).forEach(ingredient => { %>
                                <li>- <%= ingredient.trim().slice(1, -1) %></li>
                              <% }); %>
                            </ul>
                        </div>
                        <div class="steps" id="steps-<%= index %>" style="display: none;">
                            <p>Preparation</p>
                            <ol>
                                <% meal.steps.split(',').slice(1, -1).forEach(steps => {  %>
                                <li> <%= steps.trim().slice(1, -1) %></li>
                              <% }); %>
                            </ol>
                        </div>
                    </li>
                <% }); %>
                              
            <% } else { %>
                <!-- display name search results -->
                <% meals.forEach((meal, index) => { %>
                    <li>
                        <div class="container-with-buttons">
                            <div class="meal-container">
                                <div class="meal-details">
                                    <h2><%= meal.name %></h2>
                                    <p class="description"> <br><%= meal.description %><br></p>
                                    <button data-index="<%- index %>" class="toggle-ingredients-btn">Ingredients</button>
                                    <button data-index="<%- index %>" class="toggle-steps-btn">Steps</button>
                                    <div class="ingredients" id="ingredients-<%= index %>" style="display: none;">
                                        <p>Ingredients</p>
                                        <ul>
                                          <% 
                                          let ingredientsArray = meal.ingredients.startsWith('[') ? meal.ingredients.slice(1, -1).split(',') : meal.ingredients.split(',');
                                          ingredientsArray.forEach(ingredient => { %>
                                            <li>- <%= ingredient.trim().slice(1, -1) %></li>
                                          <% }); %>
                                        </ul>
                                    </div>
                                    <div class="steps" id="steps-<%= index %>" style="display: none;">
                                        <p>Preparation</p>
                                        <ol>
                                            <% 
                                            let stepsArray = meal.steps.startsWith('[') ? meal.steps.slice(1, -1).split(',') : meal.steps.split(',');
                                            stepsArray.forEach(step => {  %>
                                            <li> <%= step.trim().slice(1, -1) %></li>
                                          <% }); %>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <% if (isLoggedIn) { %>
                                <div class="buttons-container">
                                    <button data-index="<%- index %>" class="update-button" onclick="location.href='/update-meal/<%= meal._id %>?returnUrl=' + encodeURIComponent(window.location.href)">Update</button>
                                    <button data-index="<%- index %>" class="delete-button">Delete</button>
                                </div>
                            <% } %>
                        </div>
                    </li>
                <% }); %>
                
                <% } %>
                
                
            <input type="hidden" id="pageCount" value="<%= pageCount %>">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    
                    <% let currentPage = parseInt(page, 10); %>
                    <% for (let i = startPage; i <= endPage; i++) { %>
                        <% if (i == currentPage) { %>
                            <li class="page-item active">
                                <a class="page-link" href="?page=<%= i %><%= isFilterSearch ? '&include=' + include.join(',') + '&exclude=' + exclude.join(',') : '&q=' + encodeURIComponent(query) %>&limit=10"><%= i %></a>
                            </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= i %><%= isFilterSearch ? '&include=' + include.join(',') + '&exclude=' + exclude.join(',') : '&q=' + encodeURIComponent(query) %>&limit=10"><%= i %></a>
                            </li>
                        <% } %>
                    <% } %>
                    
                 
                </ul>
              </nav>  
        </ul>
        
    </div>
    
    <%- include('./partials/footer') %>

  
    <script src="/js/meals.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBq3kj2fX1W9CDv2M3RkZg6aib8iG8Ug6j2m7q0fI12tbLkk"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>
