<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header') %>   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reviews.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <title>Meal Reviews</title>
</head>
<body>
  <div class="hero">
    <h1>Reviews</h1>
</div>
  <div class="container box">
  <ul>
    <% reviews.forEach(review => { %>
        <li>
          <h2><%= review.meal %></h2>       
          <div class="star-rating">
            <% for (let i = 1; i <= 5; i++) { %>
              <span class="<%= i <= review.rating ? 'star' : 'gray-star' %>">&#9733;</span>
            <% } %>
            <span class="Rating-numbers"> &nbsp <%= review.rating %>/5</span>
          </div> 
          <div class="user">
          <% if (review.user) { %>
            <p>Rated by: <%= review.user %></p>
          <% } else { %>
            <p>User: Unknown</p>
          <% } %>   
        </div>                               
        </li>
      <% }) %>
  </ul>
  </div>
  <%- include('./partials/footer') %>
</body>
</html>
